<%- unless @medium_recommendations.nil? || @medium_recommendations.size < 1 %>
<aside class='medium-recomendations'>
  <h3>Recommended on Medium</h3>
  <ul>
    <%- @medium_recommendations.each do |mr| %>
    <li><a href="<%= mr.url %>"><%= mr.title %></a></li>
    <%- end %>
  </ul>
</aside>
<%- end %>
