<% content_for :title do %>Not found – Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/e404.css">
<% end %>

<%= erb :'partials/_back_arrow' %>

<div class="rotation-container">
  <h1>404</h1>
  <h2>Page Not Found</h2>
  <p>Ooops. What you're looking for isn't here. Try hitting the <a href="/">home page</a>.</p>
</div>
