<% content_for :title do %>❗ Not found – Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/e404.css">
<% end %>

<%= erb :'partials/_back_arrow' %>

<p>404</p>
