<% content_for :title do %>Highlights - Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/highlighting.css">
<% end %>

<h1>Highlights</h1>

<% unless @highlights.nil? || @highlights.size < 1 %>
<div class="highlights-container">
  <ul class="highlights-list">
  <% @highlights.each do |highlight| %>
    <li id="<%= highlight[:id] %>" <% if (highlight[:word_count] > 50) %>class="long"<% end %>>
        <a class="medium-highlight-link" href="<%= highlight[:url] %>"><%= highlight[:text] %></a>
     </li>
  <% end %>
  </ul>
</div>
<% end %>
