<% content_for :title do %>Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/home.css">
<% end %>

<h1>Danny Smith</h1>

<ul>
  <li><a href="http://twitter.com/dannysmith">twitter.com/dannysmith</a></li>
  <li><a href="http://github.com/dannysmith">github.com/dannysmith</a></li>
  <li><a href="http://medium.com/@dannysmith">medium.com/@dannysmith</a></li>
  <li><a href="http://keybase.io/dannysmith">keybase.io/dannysmith</a></li>
  <li><a href="http://www.linkedin.com/in/dannyasmith">linkedin.com/in/dannyasmith</a></li>
</ul>
