<% content_for :title do %>Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/home.css">
<% end %>

<h1>Danny Smith</h1>

<ul>
  <li><a href="https://twitter.com/dannysmith">twitter.com/dannysmith</a></li>
  <li><a href="https://github.com/dannysmith">github.com/dannysmith</a></li>
  <li><a href="https://medium.com/@dannysmith">medium.com/@dannysmith</a></li>
  <li><a href="https://keybase.io/dannysmith">keybase.io/dannysmith</a></li>
  <li><a href="https://www.linkedin.com/in/dannyasmith">linkedin.com/in/dannyasmith</a></li>
  <li><a href="http://notes.danny.is">Notes</a></li>
</ul>

<%= erb :'partials/_copyright' %>
