<% content_for :title do %>Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/home.css">
<% end %>

<h1>Danny Smith</h1>

<ul class="display-list">
  <li><a href="/writing"><strong>writing</strong></a></li>
  <li><a href="/singing"><strong>singing</strong></a></li>
  <li><a href="http://notes.danny.is"><strong>Notes</strong></a></li>
  <li><a href="https://twitter.com/dannysmith"><strong>twitter</strong>/dannysmith</a></li>
  <li><a href="https://github.com/dannysmith"><strong>github</strong>/dannysmith</a></li>
  <li><a href="https://medium.com/@dannysmith"><strong>medium</strong>/dannysmith</a></li>
  <li><a href="https://keybase.io/dannysmith"><strong>keybase</strong>.io/dannysmith</a></li>
  <li><a href="https://www.linkedin.com/in/dannyasmith"><strong>linkedin</strong>/dannyasmith</a></li>
  <li><a href="https://instagram.com/dannysmith"><strong>instagram</strong>/dannysmith</a></li>
</ul>


<%= erb :'partials/_medium_recommendations' %>

<%= erb :'partials/_copyright' %>
