<% content_for :title do %>Reading - Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/reading.css">
<% end %>

<h1>Reading</h1>

<% unless @links.nil? || @links.size < 1 %>
  <ul>
    <% @links.each do |link| %>
    <li><a href="<%= h link.url %>"><%= h link.title %></a></li>
    <% end %>
  </ul>
<% end %>
