<% content_for :title do %>Singing - Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/singing.css">
<% end %>

<%= erb :'partials/_back_arrow' %>

<h1>Singing</h1>
<p class="intro">I play <strong>blues</strong>. I’ve gigged alongside Martin Simpson, Paul Jones &amp; Dave Kelly and Long John Baldry, to name a few. You can hear my music on <a href="https://www.youtube.com/channel/UCZWFmFYsTjwm3afRude8zyw">youtube</a>, <a href="https://soundcloud.com/dannysmithmusic">soundcloud</a> and <a href="https://www.facebook.com/dannysmithmusic">facebook</a>. I don't gig so much&nbsp;these&nbsp;days.</p>

<% unless @videos.nil? || @videos.empty? %>
<ul class="display-list">
<% @videos.each do |video| %>
  <li><a href="https://www.youtube.com/embed/<%= video[:code] %>" target="_blank"><%= video[:title] %></a></li>
<% end %>
</ul>
<% end %>

<div class="box">foo</div>

<img class="albumart-image" src="/images/singing-bg-image.png" alt="Album Art Image">
