<% content_for :title do %>Writing - Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/writing.css">
<% end %>

<h1>Writing</h1>

<% unless @articles.nil? || @articles.size < 1 %>
<ul class="article-list">
<% @articles.each do |article| %>
  <li class="article" id="<%= article[:id] %>">
     <div class="article-background" <% unless article[:image_url].nil? %>
        style="
        background-image:url(<%= article[:image_url] %>)"
        <% end %>></div>
      <a href="<%= article[:url] %>">
        <h4><%= article[:title] %></h4>
      </a>
   </li>
<% end %>
</ul>
<% else %>
<p class="fallback-text">I write at <a href="http://medium.com/@dannysmith">medium.com/@dannysmith</a>.</p>
<% end %>
