@import "../main/variables";
// ==========================================================================
// Styles specific to the highlighting page
// ==========================================================================

.highlights-list {
  list-style-type: none;
  padding: 2rem;

  li {
    font-size: 2em;
    padding: .5em 1em;
    background: white;
    text-align: center;
    margin:0 0 2rem 0;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
  }
}



.medium-highlight {
  background: rgba(97,255,160,.1);
  color: black;
  line-height: 1.5;
}
