@import "../main/variables";
// ==========================================================================
// Styles specific to the singing page
// ==========================================================================

body {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.albumart-image {
  display: none;
  position: absolute;
  right: -200px;
  bottom: -130px;
  transform: rotate(20deg);

  @media screen and (min-width: 90rem) {
    display: block;
  }
}

.box,
.box::before {
  background: black;
  width: 2rem;
  height: 100rem;
  margin-left: 14rem;
}

.box {
  @media screen and (max-width: 30rem) {
    display: none;
  }
}

.box::before {
  content: " ";
  position: relative;
  display: block;
  background: transparentize($red, .5);
  z-index: -1;
  transform: rotate(-45deg) translateX(50rem);
}


.back-arrow {
  left: auto;
  right: 1rem;
}

h1 {
  font-size: 20vw;
  margin-top: -.3em;
  text-transform: uppercase;

  @media screen and (min-width: 30rem) {
    font-size: 24vh;
    transform: rotate(90deg) translateX(-.9em) translateY(.3em);
    transform-origin: bottom left;
  }
}

.intro {
  text-align: center;
  @media screen and (min-width: 30rem) {
    margin-left: 11rem;
    text-align: right;
  }

  @media screen and (min-width: 50rem) {
    width: 70%;
    margin-right: 2rem;
    margin-left: auto;
  }
}

.display-list {
  width: 100%;
  a {
    display: block;
    width: 100%;
  }

  @media screen and (min-width: 30rem) {
    margin-left: 11rem;
  }
}
