@import "../main/variables";
// ==========================================================================
// Styles specific to the singing page
// ==========================================================================

body {
  height: 100%;
  min-height: 100vh;
  background-image: url('/images/singing-bg-image.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  @media screen and (min-width: 600px) { // The size of the image.
    background-size: 600px;
  }
}

.back-arrow {
  left: auto;
  right: 1rem;

  @media screen and (min-width: 30rem) {
    left: 11rem;
    right: auto;
  }
}

h1 {
  font-size: 20vw;
  margin-top: -.3em;
  text-transform: uppercase;

  @media screen and (min-width: 30rem) {
    font-size: 24vh;
    transform: rotate(90deg) translateX(-.9em) translateY(.3em);
    transform-origin: bottom left;

  }
}

.intro {
  @media screen and (min-width: 30rem) {
    margin-left: 11rem;
    background-color: transparentize($body-background-color, .3);
    max-width: 40rem;
    border-bottom-right-radius: 30px;
  }
}

.display-list li {
  @media screen and (min-width: 30rem) {
    margin-left: 10rem;
  }
}
