.back-arrow {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  z-index: 5;

  @media screen and (min-width: 30rem) {
    top: 2rem;
    left: 2rem;
  }

  p { // For screen readers
    overflow: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $black;
    transition: transform .1s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
