// ==========================================================================
// Global Variables
// ==========================================================================

// Colours
$black: #444;

// $red: #da2924;
$red: rgb(255, 30, 28);
$cream: #f6f3ea;

// Font Families
$tf_body: "futura-pt", helvetica, sans-serif;
$tf_code: "Inconsolata", monospace;
