// ==========================================================================
// Global Variables
// ==========================================================================

// Basic Colours
$black: #444;

$red: rgb(255, 30, 28);
$cream: #f6f3ea;
$yellow: #ffde59;
$white: #fff;

$medium-green: #00ab6b;
$pocket-red: rgba(239, 64, 86, .9);

// Component Colours
$body-background-color: $cream;
$selection-color: $yellow;

// Font Families
$tf-body: "futura-pt", helvetica, sans-serif;
$tf-code: "Inconsolata", monospace;
